body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f4f4f4;  
}  

header {  
    background: #35424a;  
    color: #ffffff;  
    padding: 20px 0;  
    text-align: center;  
}  

nav ul {  
    list-style: none;  
    padding: 0;  
    margin: 0;  
}  

nav ul li {  
    display: inline;  
    margin: 0 15px;  
}  

nav a {  
    color: #ffffff;  
    text-decoration: none;  
    transition: color 0.3s;  /* Smooth color transition on hover */  
}  

nav a:hover {  /* Hover effect for navigation links */  
    color: #f4f4f4;  
}  

main {  
    margin: 20px;  
    background: #ffffff;  
    border-radius: 8px;  /* Rounded corners for main content */  
    padding: 20px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */  
}  

section {  
    margin-bottom: 20px;  
}  

footer {  
    text-align: center;  
    padding: 20px 0;  
    background: #35424a;  
    color: #ffffff;  
}  

.social-media {  
    list-style: none;  
    padding: 0;  
    display: inline-block;  
    margin-top: 10px;  
}  

.social-media li {  
    display: inline;  
    margin: 0 10px;  
}  

footer a {  
    color: #ffffff;  
    text-decoration: none;  
    transition: color 0.3s;  
}  

footer a:hover {  
    color: #f4f4f4;  
}

/* Responsive Design */

@media (max-width: 600px) {  
    nav ul li {  
        display: block;  
        margin: 10px 0;  
    }  

    main {  
        margin: 10px;  
    }  
}
